#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT     0
#define STENO       1
#define NUMPADSYM   2
#define EXTEND      3
#define FUNCTION    4


&caps_word {
    continue-list = <UNDERSCORE MINUS BACKSPACE>;
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <32 33>;
	    layers = <0>;
            bindings = <&caps_word>;
        };
    };

    behaviors {
        ht: balance_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "BALANCE_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <200>;    // <---[[moderate duration]]
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        hl: balanced_tap_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "BALANCE_TAP_LAYER";
            #binding-cells = <2>;
            tapping-term-ms = <200>;    // <---[[moderate duration]]
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&mo>, <&kp>;
        };
        long: long_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "LONG_HOLD";
            #binding-cells = <2>;
            tapping-term-ms = <5000>;
            quick-tap-ms = <0>;
            bindings = <&tog>, <&kp>;
        };

    };
        keymap {
                compatible = "zmk,keymap";
                default_layer {
//  ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//              Q           |           W           |           F           |           P           |           G                                               J             |             L           |           U           |           Y           |           ;
//              A           |           R           |           S           |           T           |           D                                               H             |             N           |           E           |           I           |           O
//              Z           |           X           |           C           |           V           |           SPACE                                           B             |             K           |           M           |           ,/'         |           ./?
//                                                  |           NumPadSym   |           Extend      |           Shift                                           Ctrl          |             GUI         |           Alt         |

                        bindings = <
            &kp Q                   &kp W                   &kp E                   &kp R                   &kp T                                           &kp Y                       &kp U                   &kp I                   &kp O                   &kp P
            &kp A                   &kp S                   &kp D                   &kp F                   &kp G                                           &kp H                       &kp J                   &kp K                   &kp L                   &kp SEMI
            &kp Z                   &kp X                   &kp C                   &kp V                   &kp B                                           &kp LCTRL                   &kp N                   &kp M                   &ht APOS COMMA          &ht QUESTION DOT
                                                            &mo 2                   &mo 3                   &kp LGUI                                        &kp LSHIFT                  &kp SPACE               &kp LALT
                        >;
                    };

        Steno_layer {
//  ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//              Q           |           W           |           E           |           R           |           T                                           Y             |             U           |           I           |           O           |           P
//              A           |           S           |           D           |           F           |           G                                           H             |             J           |           K           |           L           |           ;
//                          |                       |                       |                       |                                                                     |                         |                       |                       |
//                                                  |                       |           C           |           V                                           N             |             M           |                       |

                        bindings = <
            &kp Q                   &kp W                   &kp E                   &kp R                   &kp T                                           &kp Y                       &kp U                   &kp I                   &kp O                   &kp P
            &kp A                   &kp S                   &kp D                   &kp F                   &kp G                                           &kp H                       &kp J                   &kp K                   &kp L                   &kp SEMI
            &kp Z                   &kp X                   &kp C                   &kp V                   &kp B                                           &kp ESC                     &kp N                   &kp M                   &ht APOS COMMA          &ht QUESTION DOT
                                                            &mo 2                   &mo 3                   &kp LGUI                                        &kp LSHIFT                  &kp SPACE               &kp LCTRL
                       >;
                    };

                numpadsym_layer {
//  ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//              *           |           9           |           8           |           7           |           Delete                                                !             |             @           |           #           |           $           |           %
//              0           |           6           |           5           |           4           |           BACKSPACE                                                [ ]           |             ( )         |           { }         |           < >         |           " |
//              /           |           3           |           2           |           1           |           DOT                                                =             |             \           |           _           |           & ~          |           ^ `
//                                                  |           NumPadSym   |           Space Extend|           Shift                                           Ctrl          |             GUI         |           Alt         |

                        bindings = <
            &ht STAR PLUS           &kp N9                  &kp N8                  &kp N7                  &kp DELETE                                      &kp EXCLAMATION             &kp AT                  &kp HASH                &kp DOLLAR              &kp SEMI
            &kp N0                  &kp N6                  &kp N5                  &kp N4                  &kp BACKSPACE                                   &ht RBKT LBKT               &ht RPAR LPAR           &ht RBRC LBRC           &ht GT LT               &ht PIPE DQT
            &kp MINUS    	    &kp N3                  &kp N2                  &kp N1                  &kp DOT                                         &kp EQUAL                   &ht BSLH FSLH           &kp UNDER               &ht TILDE AMPS          &ht GRAVE CARET
                                                	    &trans                  &trans                  &trans                         					                    &trans                      &trans                  &trans
                        >;
                    };

                extend_layer {
//  ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//              Tab         |           Home        |           Up          |           End         |           Delete                                          Volume-Down   |             Volume-Up   |           Mute        |           Darken      |           Brighten
//              Enter       |           Left        |           Down        |           Right       |           Backspace                                       Pevious-M     |             Rewind      |           Play/Puase  |           Fast        |           Next
//                          |           Back        |           Esc         |           Forward     |           Menu                                            BlueC         |             Blue1       |           Blue2       |           Blue3       |           Caps_Lock
//                                                  |           NumPadSym   |           Space Extend|           Shift                                           Ctrl          |             GUI         |           Alt         |

                        bindings = <
            &kp TAB                 &none                   &none                   &none                   &none                                           &mo 4                       &kp HOME                &kp END                 &none                   &kp DELETE
            &kp ENTER               &kp LCTRL               &kp LSHIFT              &kp LALT                &kp LGUI                                        &kp LEFT                    &kp DOWN                &kp UP                  &kp RIGHT               &kp BACKSPACE 
            &kp ESC                 &none                   &none                   &none                   &kp K_APPLICATION                               &trans                       &none                   &none                   &none                   &none
                                                            &trans                  &trans                  &trans                                          &trans             		&kp LC(SPACE)           &trans
                        >;
                    };

                function_layer {
//  ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//            &none           |                     |                       |                       |                                                                       |                   |                   |           |           Brighten
//            &none           |                     |                       |                       |                                                                       |                   |             |     |
//            &trans          |                     |                       |                       |                                                                       |                   |                   |           Blue3       |           Caps_Lock
//                                                  |           NumPadSym   |           Space       |           Shift                                           CTRL        |           GUI         |           Alt         |

                        bindings = <
          &kp F10                  &kp F9                      &kp F8                  &kp F7                &bootloader                                    &trans                      &kp C_SLEEP             &kp C_AL_LOGOFF         &kp C_AL_LOCK           &kp LC(LA(DELETE))
          &kp F11                  &kp F6                      &kp F5                  &kp F4                &none                                          &tog 1                      &trans                  &none                   &none                   &kp CAPS
          &kp F12                  &kp F3                      &kp F2                  &kp F1                &kp K_APPLICATION                              &bt BT_CLR                  &bt BT_SEL 1            &bt BT_SEL 2            &bt BT_SEL 3            &none
                                                               &trans                  &trans                &trans                                         &trans                      &trans     			    &trans
                        >;
                    };





            };
};
